.mat-column-selected{
    width: 10%;
}

.mat-column-orderId {
  width: 25%;
}

.mat-column-item {
  width: 20%;
}

.mat-column-price {
  width: 20%;
}

.mat-column-cost {
  width: 20%;
}

.mat-column-status {
  width: 20%;
}
